// Variables

$dark: #2A363B;
$red: #E84A5F;
$pink: #FF847C;
$peach: #FECEA8;
$green: #99B898;
$white: #FFFFFF;

$brand-primary: $green;

// Screen sizes
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
