#gallery {
  width: 100%;
  margin-top: 10px;

  .item {
    padding: 0px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    .item-image {
      img {
        width: 100%;
      }
    }

    .item-name {
      padding-left: 10px;
      padding-bottom: 2px;
      background-color: lighten( $dark, 75% );
      border-top: 4px solid lighten( $dark, 60% );
      @include a-variant($dark);
    }

  }

}
