#post {

  .postthumb {
    padding: 0px;
    img {
      width: 100%;

      @media (min-width: $screen-sm-min) {
        float: left;
        padding: 10px;
      }
    }
  }

  h1 {
  }

  .meta {
    
    @media (min-width: $screen-sm-min) {
      margin-top: 30px;
    }

    .buttons {
      margin-top: 10px;

      @media (min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
  }

  .post-content {
    margin-top: 10px;

    img {
      width: 100%;
    }
  }

}
