---
layout: default
---

<div id="post" class="container">

	<div class="col-sm-6 postthumb">
		<img src="/thumbnails/{{ page.thumbnail }}" />
	</div>

	<div class="col-sm-6">
		<h1>{{ page.title }}</h1>

		<div class="meta clearfix">
			<div id="author">
				<strong>Author:</strong> {{ page.author }}
			</div>

			{% if page.license %}
				<div id="license">
					<strong>License:</strong>
					{% if page.license_link %}<a href="{{ page.license_link }}">{% endif %}
						{{ page.license }}
					{% if page.license_link %}</a>{% endif %}
				</div>
			{% endif %}

			<div class="buttons">
				{% if page.homepage %}
					<a class="btn btn-default col-xs-6 col-sm-4 col-md-3" href="{{ page.homepage }}"><i class="fa fa-home"></i> Homepage</a>
				{% endif %}

				{% if page.download %}
					<a class="btn btn-default col-xs-6 col-sm-4 col-md-3 col-md-offset-1" href="{{ page.download }}"><i class="fa fa-download"></i> Download</a>
				{% endif %}

				{% if page.demo %}
					<a class="btn btn-default col-xs-6 col-sm-4 col-md-3 col-md-offset-1" href="{{ page.demo }}"><i class="fa fa-road"></i> Demo</a>
				{% endif %}
			</div>
		</div>
	</div>


	<div class="post-content col-xs-12">
	{{ content }}
	</div>

</div>
